.tracks {
  overflow: hidden;
  &__container {
    padding-top: 180px !important;

    @media (max-width: 1600px) {
      padding-top: 170px !important;
    }
    @media (max-width: 1200px) {
      padding-top: 160px !important;
    }
    @media (max-width: 992px) {
      padding-top: 140px !important;
    }
    @media (max-width: 767px) {
      padding-top: 130px !important;
    }
    @media (max-width: 544px) {
      padding-top: 95px !important;
    }
    @media (max-width: 320px) {
      padding-top: 85px !important;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media (max-width: 1600px) {
      gap: 25px;
    }
    @media (max-width: 1200px) {
      gap: 0;
      position: relative;
      justify-content: flex-end;
    }
    @media (max-width: 767px) {
      justify-content: center;
    }
  }

  &__music-image {
    font-size: 20px;
    width: 21.75em;
    height: 21.75em;
    pointer-events: none;

    @media (max-width: 1600px) {
      font-size: 17px;
    }
    @media (max-width: 1200px) {
      position: absolute;
      left: -10%;
      top: 50%;
      transform: translateY(-50%);
    }
    @media (max-width: 992px) {
      left: -12%;
    }
    @media (max-width: 920px) {
      left: -15%;
    }
    @media (max-width: 767px) {
      font-size: 13.5px;
      left: 45%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    @media (max-width: 544px) {
      left: 50%;
      font-size: 12.5px;
    }
    @media (max-width: 400px) {
      font-size: 11.5px;
    }
    @media (max-width: 320px) {
      font-size: 9px;
    }
  }

  &__content {
    width: 540px;

    @media (max-width: 1600px) {
      width: 500px;
    }
    @media (max-width: 1200px) {
      margin-right: 10px;
    }
    @media (max-width: 992px) {
      z-index: 1;
      margin-right: 40px;
    }
    @media (max-width: 767px) {
      width: 520px;
      margin: 0;
    }
    @media (max-width: 544px) {
      width: 96%;
    }
  }

  &__title {
    margin: 0 0 60px 0;

    @media (max-width: 1600px) {
      margin: 0 0 50px 0;
    }
    @media (max-width: 1200px) {
      margin: 0 0 45px 0;
    }
    @media (max-width: 992px) {
      margin: 0 0 40px 0;
    }
    @media (max-width: 544px) {
      margin: 0 0 27px 0;
    }
    @media (max-width: 320px) {
      margin: 0 0 22px 0;
    }
  }

  &__audio-block {
    margin: 0 0 50px 0;

    @media (max-width: 1600px) {
      margin: 0 0 45px 0;
    }
    @media (max-width: 1200px) {
      margin: 0 0 40px 0;
    }
    @media (max-width: 992px) {
      margin: 0 0 35px 0;
    }
    @media (max-width: 544px) {
      margin: 0 0 30px 0;
    }
    @media (max-width: 320px) {
      margin: 0 0 24px 0;
    }
  }

  &__custom-audio {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 0 55px 0;
    padding: 0;

    @media (max-width: 1600px) {
      margin: 0 0 45px 0;
    }
    @media (max-width: 1200px) {
      margin: 0 0 40px 0;
      gap: 17.5px;
    }
    @media (max-width: 992px) {
      margin: 0 0 30px 0;
    }
    @media (max-width: 544px) {
      gap: 15px;
    }
    @media (max-width: 320px) {
      gap: 14px;
      margin: 0 0 20px 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    font-size: 20px;

    @media (max-width: 1600px) {
      font-size: 18px;
    }
    @media (max-width: 992px) {
      font-size: 17px;
      max-width: 480px;
    }
    @media (max-width: 544px) {
      font-size: 15.5px;
    }
    @media (max-width: 320px) {
      font-size: 14px;
    }

    span {
      display: block;
      font-weight: 700;
      font-size: 0.7em;
      line-height: 1.5em;
      opacity: 0.5;
      transform: translateY(0.25em);

      @media (max-width: 544px) {
        font-size: 0.75em;
        transform: translateY(0.22em);
      }
    }
  }

  &__link {
    color: #fff;
    font-size: 0.9em;
    text-decoration: none;
    line-height: 1.5em;
    &.active-music-link,
    &:hover {
      font-weight: 600;
      color: #7a66cc;
    }
  }
}
.music-image {
  transition: all 0.4s;

  @media (max-width: 910px) {
    opacity: 0.65;
  }
  @media (max-width: 830px) {
    opacity: 0.4;
  }
  @media (max-width: 790px) {
    opacity: 0.3;
  }
  @media (max-width: 767px) {
    opacity: 0.24;
  }

  &__inner {
    img {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      position: relative;
      z-index: 1;
    }

    position: relative;
  }

  &__bg {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    border-radius: 100%;
    background: #7a66cc;
    width: 23.75em;
    height: 23.75em;
  }
  & #second-mus-bg {
    width: 25.5em;
    height: 25.5em;
    opacity: 0.3;
  }
  &.active-music {
    #first-mus-bg {
      animation-name: pulseBGFirst;
      animation-iteration-count: infinite;
      animation-duration: 1.4s;
    }

    #second-mus-bg {
      animation-name: pulseBGSecond;
      animation-iteration-count: infinite;
      animation-duration: 1.5s;
      transition: all 0.7s;
    }
  }
}
@keyframes pulseBGFirst {
  0% {
    transform: translate(-50%, -50%) scale(0.98);
  }
  25% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.02);
  }
  75% {
    transform: translate(-50%, -50%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

@keyframes pulseBGSecond {
  0% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  15% {
    transform: translate(-50%, -50%) scale(1);
  }
  30% {
    transform: translate(-50%, -50%) scale(1.15);
  }
  45% {
    transform: translate(-50%, -50%) scale(1.05);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.1);
  }
  60% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  75% {
    transform: translate(-50%, -50%) scale(1.25);
  }
  90% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

.tracks-socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;

  @media (max-width: 1600px) {
    gap: 30px;
  }
  @media (max-width: 992px) {
    gap: 25px;
  }
  @media (max-width: 544px) {
    gap: 20px;
  }
  @media (max-width: 350px) {
    gap: 30px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5em;

    @media (max-width: 1600px) {
      font-size: 22px;
    }
    @media (max-width: 992px) {
      font-size: 20px;
    }
    @media (max-width: 544px) {
      font-size: 18px;
    }
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: 30px;

    @media (max-width: 992px) {
      gap: 20px;
    }
    @media (max-width: 544px) {
      flex-wrap: wrap;
    }
    @media (max-width: 350px) {
      gap: 10px;
      flex-direction: column;
    }
  }

  &__item {
    color: #fff;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    @media (max-width: 544px) {
      gap: 7px;
    }

    &:hover img {
      background-color: rgb(0, 152, 172);
      border-radius: 100%;
      transition: all 0.35s;
    }
    img {
      fill: #fff;
      height: 30px;
      transition: all 0.35s;

      @media (max-width: 544px) {
        height: 28px;
      }
    }
  }

  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5em;
  }
}
